* {
  margin: 0;
  padding: 0;
}

// global stype
.container {
  width: 1170px;
  margin: 0px auto;
}

.header {
    .container {
        background: #000;
        height: 30px;
        width: 98%;
        position: fixed;
        top: 0px;
        padding: 5px 1%;
    }
    div, a {
        color: white;
    }
    a {
        text-decoration: underline;
    }
    div {
        float: left;
    }
    .text-left {
        text-align: left;
        width: 60%;
    }
    .text-right {
        text-align: right;
        width: 39%;
    }
}

.body {
  margin-top: 70px;
}

.footer {
}
