@blogs-color: rgb(81, 124, 121);

* {
    margin: 0;
    padding: 0;
}

// global stype
.container {
    margin: 0px auto;
    width: 1170px;
}

.error {
    color: red;
    padding: 5px;
    font-weight: bold;
}

a {
    color: @blogs-color;
}

.header {
    .container {
        top: 0px;
        width: 98%;
        height: 30px;
        position: fixed;
        padding: 5px 1%;
        background: @blogs-color;
    }
    div, a {
        color: white;
    }
    a {
        text-decoration: underline;
    }
    div {
        float: left;
    }
    .text-left {
        width: 60%;
        text-align: left;
    }
    .text-right {
        width: 40%;
        text-align: right;
    }
}

/* body container */
.body {
    margin-top: 40px;
    .blogs {
        width: 100%;
        float: left;
        .list {
            width: 20%;
            float: left;
            color: #777;
            background-color: #FAFAFA;
            .title {
                padding: 10px;
                font-weight: bold;
                border-right: 2px solid @blogs-color;
            }
            ul {
                padding-top: 5px;
                border-right: 2px solid @blogs-color;
                .special a {
                    color: white;
                    background: @blogs-color;
                }
                li {
                    display: block;
                    a {
                        color: #777;
                        display: block;
                        font-size: 1.2em;
                        padding: 7px 10px;
                        text-decoration: none;
                    }
                    a:hover {
                        color: white;
                        background: @blogs-color;
                    }
                }
            }
        }
        .detail {
            width: 80%;
            float: left;
        }
    }
}

/* component blog's container */
.blog-container {
    padding: 10px;
    .message {
        padding: 10px;
    }
    .title {
        h1 {
            display: inline;
            text-transform: uppercase;
            a {
                color: @blogs-color;
            }
        }
        span {
            font-weight: bold;
        }
    }

}

.comments {
    ul {
        text-decoration: none;
        list-style: none;
        li {
            padding: 5px 0px;
            p {
                padding: 0px 10px;
            }
        }
    }
}

.local-form {
    textarea {
        width: 100%;
    }
    label {
        font-weight: bold;
    }
    .input {
        padding: 10px 0px;
    }
}

.footer {
    text-align: center;
}
