<h2>
    Belcome to <i>BLogr</i> best application ever.
</h2>
<p>
    <h5>Availables paths:</h5>
    <div>
        {{#link-to 'user'}}/user{{/link-to}}
    </div>
    <div>
        {{#link-to 'login'}}/login{{/link-to}}
    </div>
</p>
